[submodule "external/spdlog"]
	path = external/spdlog
	url = git@github.com:tanerius/spdlog.git
[submodule "external/glfw"]
	path = external/glfw
	url = git@github.com:tanerius/glfw.git
[submodule "external/imgui"]
	path = external/imgui
	url = git@github.com:tanerius/imgui.git
[submodule "external/glm"]
	path = external/glm
	url = https://github.com/g-truc/glm
