[submodule "external/spdlog"]
	path = external/spdlog
	url = git@github.com:tanerius/spdlog.git
	branch = v1.x
[submodule "external/glfw"]
	path = external/glfw
	url = git@github.com:tanerius/glfw.git
	branch = master
[submodule "external/glm"]
	path = external/glm
	url = https://github.com/g-truc/glm
	branch = master
[submodule "external/FastNoiseLite"]
	path = external/FastNoiseLite
	url = git@github.com:tanerius/FastNoiseLite.git
[submodule "external/googletest"]
	path = external/googletest
	url = git@github.com:google/googletest.git
